# Python
__pycache__/

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data
data/

# Model weights
models/

# Outputs
output/

# IDE
.vscode/